$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$midnight-green: hsl(186, 98%, 17%);
$light-coral: #f67e7e;
$rapture-blue: hsl(179, 42%, 63%);
$police-blue: hsl(187, 41%, 29%);
$deep-jungle-green: hsl(186, 100%, 14%);
$sacramento-state-green: hsl(186, 96%, 10%);
$dark-green: hsl(186, 100%, 8%);

$sm-font-size: 1.8rem;
$sm-font-weight: 600;
$lrg-font-size: 10rem;
$md-font-size: 4rem;
$md-lg-font-size: 4.7rem;
$md-font-weight: 600;

$main-width: 76.38%;
$max-width: 110rem;

$text: hsl(186, 96%, 10%);
